<div class="ui three column stackable grid imggal">
  <div class="column imggalcol">
    {{ range $x,$img := . }} {{if eq $x 0}}
    <div data-modal="imgg" 
    class="bimg" data-idx="{{$x}}" 
    data-src="{{partial "imgUrl" (dict "img" $img "params" "c_fill,h_1200,w_1200,g_auto,f_auto/c_scale,h_600" )}}"
    style="background:url({{partial "imgUrl" (dict "img" $img "params" "q_100" )}}) center center no-repeat; background-size:cover;"></div> {{end}}{{end}}
  </div>
  <div class="column imggalcol">
    {{ range $x,$img := . }} {{if gt $x 0}}
    {{if lt $x 3}}
    <div data-modal="imgg" 
    class="simg" data-idx="{{$x}}" 
    data-src="{{partial "imgUrl" (dict "img" $img "params" "c_fill,h_1200,w_1200,g_auto,f_auto/c_scale,h_600" )}}"
    style="background:url({{partial "imgUrl" (dict "img" $img "params" "q_100" )}}) center center no-repeat; background-size:cover;"></div>
    {{end}}{{end}}{{end}}
  </div>
  <div class="column imggalcol">
      {{ range $x,$img := . }} {{if eq $x 3}}
      <div data-modal="imgg" 
      class="bimg" data-idx="{{$x}}" 
      data-src="{{partial "imgUrl" (dict "img" $img "params" "c_fill,h_1200,w_1200,g_auto,f_auto/c_scale,h_600" )}}"
      style="background:url({{partial "imgUrl" (dict "img" $img "params" "q_100" )}}) center center no-repeat; background-size:cover;"></div> {{end}}{{end}}
    </div>
    <div class="column imggalcol">
        {{ range $x,$img := . }} {{if eq $x 4}}
        <div data-modal="imgg" 
        class="bimg" data-idx="{{$x}}" 
        data-src="{{partial "imgUrl" (dict "img" $img "params" "c_fill,h_1200,w_1200,g_auto,f_auto/c_scale,h_600" )}}"
        style="background:url({{partial "imgUrl" (dict "img" $img "params" "q_100" )}}) center center no-repeat; background-size:cover;"></div> {{end}}{{end}}
      </div>
      <div class="column imggalcol">
          {{ range $x,$img := . }} {{if eq $x 5}}
          <div data-modal="imgg" 
          class="bimg" data-idx="{{$x}}" 
          data-src="{{partial "imgUrl" (dict "img" $img "params" "c_fill,h_1200,w_1200,g_auto,f_auto/c_scale,h_600" )}}"
          style="background:url({{partial "imgUrl" (dict "img" $img "params" "q_100" )}}) center center no-repeat; background-size:cover;"></div> {{end}}{{end}}
        </div>
        <div class="column imggalcol">
            {{ range $x,$img := . }} {{if eq $x 6}}
            <div data-modal="imgg" 
            class="simg" data-idx="{{$x}}" 
            data-src="{{partial "imgUrl" (dict "img" $img "params" "c_fill,h_1200,w_1200,g_auto,f_auto/c_scale,h_600" )}}"
            style="background:url({{partial "imgUrl" (dict "img" $img "params" "q_100" )}}) center center no-repeat; background-size:cover;"></div> {{end}}{{end}}
          <div class="simg tbox">
            {{.text}}
          </div>
          </div>
</div>
<div class="ui modal small" id="modal_imgg">
  <div class="content">
    <ul id="gal_imgg" class="imggalslider sy-slides-crop">
      {{ range $x,$img := . }}
      <li>
        <img src="{{partial "imgUrl" (dict "img" $img "params" "c_scale,h_500,f_auto" )}} " />
      </li>
      {{end}}
    </ul>
  </div>
</div>