{{ define "main" }}
{{$p:=.}}
<div id="home">
  {{with .Params.ueber_uns}}
  <div class="headimg"
    style="background:url({{partial "imgUrl" (dict "img" .bild "params" "q_100" )}}) center center no-repeat; background-size:cover;">
  </div>
  <section id="sec-{{.interner_linkname}}">
    <div class="spm" id="{{.interner_linkname}}"></div>
    <div class="ui container">
      {{partial "titleSubtitle" (dict "top" true "title" .titel "subtitle" .untertitel)}}
      <div class="ccontent">
        {{.content|safeHTML}}
      </div>
    </div>
  </section>
  {{end}}
  {{with .Params.kontakt}}
  <section id="sec-{{.interner_linkname}}">
      <div class="spm" id="{{.interner_linkname}}"></div>
    <div class="ui container">
      {{.content|safeHTML}}
    </div>
  </section>
  {{end}}
</div>
{{ end }}